body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-wrapper {
    width: 45%;
}

.form {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-wrapper {
    position: relative;
}

.hidden-file-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-divider {
    margin: 8px;
    width: 250px;
}
