.form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 0px 0px rgba(238,238,238,1);
}

button {
    padding: 0.5em 1em;
    background: #419EFF;
    border-radius: 4px;
    color: white;
    border: none;
}
